{% extends request.session.base %}
{% load static %}
{% load performance_tags %}

{% block content %}

    <div class="container">
        <div class="row g-5">
            <div class="col-lg-4 ">
                <div class="d-flex flex-column h-100 text-center overflow-auto shadow p-3">
                    <img class="w-100 img-fluid mb-4" style="border-radius: 50%;" src="{% static 'img/user_.png' %}" alt="Image">
                    <small class="lead mt-2 text-dark">{{child}}</small>
                    <div class="mb-4" style="height: 22px;">
                        <h4 class="typed-text-output d-inline-block text-light"></h4>
                    </div>
                    <div class="d-flex align-items-end justify-content-between border-top btn-group">
                        <a href="" class="btn btn-dark w-50 border-end">Pay Fees</a>
                        <a href="#contact" class="btn btn-primary w-50 btn-scroll">School Profile</a>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-8 mt-0">
                <!-- About Start -->
                <section class="py-5 border-bottom wow fadeInUp text-dark" data-wow-delay="0.1s">
                    <small class="lead pb-3 mb-5">CHILD INFO | {{child.school|upper}}</small>
                    <hr>
                    <p>
                        {{child}} is a dedicated and hardworking student in {{child.Class}} who does {{child.Subjects.all|join:", "}}. 
                    </p>
                    <div class="row mb-4">
                        <div class="col-sm-6 py-1">
                            <span class="fw-medium text-primary">Names:</span> {{child}}
                        </div>
                        <div class="col-sm-6 py-1">
                            <span class="fw-medium text-primary">Birthday:</span> {{child.Date_of_birth}}
                        </div>
                        <div class="col-sm-6 py-1">
                            <span class="fw-medium text-primary">Class:</span> {{child.Class}}
                        </div>
                        <div class="col-sm-6 py-1">
                            <span class="fw-medium text-primary">Id:</span> {{child.student_id}}
                        </div>
                        <div class="col-sm-6 py-1">
                            <span class="fw-medium text-primary">Email:</span> {{child.user.email}}
                        </div>
                        <div class="col-sm-6 py-1">
                            <span class="fw-medium text-primary">Address:</span> {{child.Address}}
                        </div>
                    </div>

                    <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                        <div class="text-center mb-2">
                            <small>Teachers</small>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered text-dark">
                                <thead>
                                    <tr class="text-dark">
                                        <th scope="col">Teacher</th>
                                        <th class="text-nowrap" scope="col">Subject</th>
                                        <th class="text-nowrap" scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in class.Students.all %}
                                    <tr>
                                        <td class="text-nowrap text-dark">{{student.first_name}}</td>
                                        <td class="text-nowrap text-dark">{{student.last_name}}</td>
                                        <td class="text-nowrap">{{student.active_enrollment.Date}}</td>
                                        <td class="text-nowrap"> UGX</td>
                                        <td class="text-nowrap">
                                            <a href="" class="btn btn-sm btn-primary">Profile</a>
                                            <a href="" class="btn btn-sm btn-dark">Performance</a>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td>No Students Found in this  {{class}} class</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </section>

                    <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                        <div class="text-center mb-2">
                            <small>Today's Lessons</small>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered text-dark">
                                <thead>
                                    <tr class="text-dark">
                                        <th scope="col">Subject</th>
                                        <th class="text-nowrap" scope="col">Time</th>
                                        <th class="text-nowrap" scope="col">Attended</th>
                                        <th class="text-nowrap" scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in class.Students.all %}
                                    <tr>
                                        <td class="text-nowrap text-dark">{{student.first_name}}</td>
                                        <td class="text-nowrap text-dark">{{student.last_name}}</td>
                                        <td class="text-nowrap">{{student.active_enrollment.Date}}</td>
                                        <td class="text-nowrap"> UGX</td>
                                        <td class="text-nowrap">
                                            <a href="" class="btn btn-sm btn-primary">Profile</a>
                                            <a href="" class="btn btn-sm btn-dark">Performance</a>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td>No Students Found in this  {{class}} class</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </section>

                <!-- Expericence Start -->
                <section class="py-5 wow fadeInUp" data-wow-delay="0.1s">
                    <h1 class="title pb-3 mb-5">Education History</h1>
                    <div class="border-start border-2 border-light pt-2 ps-5">
                        <div class="position-relative mb-4">
                            <span class="bi bi-arrow-right fs-4 text-light position-absolute" style="top: -5px; left: -50px;"></span>
                            <h5 class="mb-1">Kampala Parents</h5>
                            <p class="mb-2">Nursery | <small>2007 - 2010</small></p>
                            <p>Learned How To Read and Write</p>
                        </div>
                    </div>
                </section>
                <!-- Expericence End -->

               

                <!-- Contact Start -->
                <section class="py-5 wow fadeInUp" data-wow-delay="0.1s" id="contact">
                    <h1 class="">Contact School</h1>
                    <form>
                        <div class="row g-3">
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="subject" placeholder="Subject">
                                    <label for="subject">Subject</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 200px"></textarea>
                                    <label for="message">Message</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-dark w-100 py-3" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </section>
                <!-- Contact End -->
            </div>
        </div>
    </div>
{% endblock %}