{% extends request.session.base %}
{% load fees_tags %}
{% load student_tags %}

{% block content %}
<div class="container text-dark">
    <div class="text-center">
        <small class="lead">{{user.schooladministrator.current_school}} Old Students</small>
    </div>
    <hr>
    <div class="d-flex justify-content-between mb-3">
        <small></small>
        
        <a href="{% url 'download-students-info' %}" class="btn btn-sm btn-dark">Export</a>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr class="text-dark">
                    <th scope="col">Names</th>
                    <th class="text-nowrap" scope="col">From</th>
                    <th class="text-nowrap" scope="col">Left In</th>
                    <th scope="col">Current School</th>
                    <th scope="col">Current Class</th>
                </tr>
            </thead>
            <tbody>
                {% for student in user.schooladministrator.current_school.old_students.all %}
                {% with history=student|education_history:user.schooladministrator.current_school %}
                <tr>
                    <td class="text-nowrap text-dark">{{student}}</td>
                    <td class="text-nowrap text-dark">{{history.From}}</td>
                    <td class="text-nowrap text-dark">{{history.To}}</td>
                    <td class="text-nowrap text-dark">{{student.school}}</td>
                    <td class="text-nowrap text-dark">{{student.Class}}</td>
                </tr>
                {% endwith %}
                {% empty %}
                <tr>
                    <td>No old students yet.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}