{% extends request.session.base %}
{% load static %}


{% block content %}
        <!-- Appointment Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="rounded">
                    <div class="row g-0">
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                            <div class="h-100 d-flex flex-column justify-content-center p-3">
                                <h6 class="mb-4">Set Up Student Account</h6>
                                <form method="post" action=".">
                                    {% csrf_token %}
                                    <div class="row g-3">
                                        <div class="bg-light text-center rounded p-4">
                                            <img style="border-radius: 50%; object-fit: cover;" width="100" class="img mb-2" src="{% url 'get-image' student.id %}"></img>

                                            <div class="text-center mb-4">
                                                <h6 class="mb-0">{{student.user.first_name}} {{student.user.last_name}}</h6>
                                            </div>
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="username">Email:</label>
                                            <input type="email" class="form-control" id="email" name="email" placeholder="student@edu-metrics.com">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="username">Password:</label>
                                            <input type="password" class="form-control" id="password" name="password" placeholder="Student Password">
                                        </div>
                                        <div class="form-group mb-3">
                                            <label for="username">Confirm Password:</label>
                                            <input type="password" class="form-control" id="password" name="confirm_password" placeholder="Confirm Student Password">
                                        </div>
                                        <div class="col-12">
                                            <button name="answer" value="yes" class="btn btn-dark btn-sm" type="submit">Set Up</button>
                                            <button name="answer" value="no" class="btn btn-danger btn-sm" type="submit">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
                            <div class="position-relative h-100">
                                <img class="position-absolute w-100 h-100 rounded" src="{% static 'img/student.jpg' %}" style="object-fit: cover;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Appointment End -->
{% endblock %}