{% extends request.session.base %}

{% block content %}
<div class="container text-dark">
    <div class="text-center">
        <small class="lead">{{user.schooladministrator.current_school}} Students</small>
    </div>
    <hr>
    <div class="d-flex justify-content-between mb-3">
        <small class="lead">{{user.sch}}</small>
        <a href="{% url 'enroll-student' %}" class="btn btn-sm btn-dark">Enroll</a>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr class="text-dark">
                    <th scope="col">Names</th>
                    <th class="text-nowrap" scope="col">Class</th>
                    <th class="text-nowrap" scope="col">Subjects</th>
                    <th class="text-nowrap" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for student in user.schooladministrator.current_school.students.all %}
                <tr>
                    <td class="text-nowrap text-dark">{{student}}</td>
                    <td class="text-nowrap text-dark">{{student.Class}}</td>
                    <td class="text-nowrap">{% for subject in student.Subjects.all %}<small>{{subject}}</small><br>{% endfor %}</td>
                    <td class="text-nowrap">
                        <a href="" class="btn btn-sm btn-dark">Add Parent</a>
                        <a href="" class="btn btn-sm btn-primary">Parent Details</a>
                        <a href="" class="btn btn-sm btn-dark">Profile</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td>No students have been added.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}