{% extends request.session.base %}
{% load fees_tags %}
{% load librarytags %}

{% block content %}
<div class="container text-dark">
    <div class="text-center">
        <small class="lead">{{user.schooladministrator.current_school}} Students</small>
    </div>
    <hr>
    <div class="d-flex justify-content-between mb-3">
        <div class="btn-group">
            <a href="" class="btn btn-sm btn-dark">Old Students</a>
        </div>
        <div class="btn-group">
            <a href="" class="btn btn-sm btn-dark">Search</a>
            <a href="{% url 'select-student-class' %}" class="btn btn-sm btn-primary">Enroll</a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr class="text-dark">
                    <th scope="col">Photo</th>
                    <th scope="col">Names</th>
                    <th scope="col">Class</th>
                    <th class="text-nowrap" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td class="text-nowrap text-dark">
                      <img width="100" class="mb-4" src="{% url 'get-image' student.id %}" alt="Image">
                    </td>
                    <td class="text-nowrap text-dark">{{student}}</td>
                    <td class="text-nowrap text-dark">{{student.Class}}</td>
                    <td class="text-nowrap">
                        <div class="btn-group">
                            <a href="{% url 'student-profile' student.id %}" class="btn btn-sm btn-dark">Profile</a>
                            <a href="{% url 'generate-idcard' student.id %}" class="btn btn-sm btn-primary">ID CARD</a>
                            <a href="{% url 'link-parent' student.id %}" class="btn btn-sm btn-dark">Link Parent</a>
                            <a href="{% url 'setup-account' student.id %}" class="btn btn-sm btn-primary">Set Up Account</a>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td>No books available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <ul class="pagination">
          {% if books.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ books.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
          {% endif %}
      
          {% for i in books.paginator.page_range %}
            {% if books.number == i %}
              <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
      
          {% if books.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ books.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
</div>
{% endblock %}