{% extends request.session.base %}
{% load assessments %}

{% block content %}
<div class="container text-dark">
    <div class="text-center">
        <small class="lead">{{exam}} Assessments</small>
    </div>
    <hr>
    <div class="d-flex justify-content-between mb-3">
        <a href="{% url 'schedule-exam' %}" class="btn btn-sm btn-primary">Download PDF</a>
        <a href="{% url 'schedule-exam' %}" class="btn btn-sm btn-dark">Download Excel</a>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered text-dark">
            <thead>
                <tr class="text-dark">
                    <th scope="col">Student</th>
                    {% for subject in user.schooladministrator.current_school.Subjects.all %}
                    <th class="text-nowrap" scope="col">{{subject}}</th>
                    {% endfor %}
                    <th class="text-nowrap" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for student in user.schooladministrator.current_school.students.all %}
                <tr>
                    <td class="text-nowrap text-dark">{{student}}</td>
                    {% for subject in user.schooladministrator.current_school.Subjects.all %}
                    <td class="text-nowrap text-dark">{% get_score exam student subject %}</td>
                    {% endfor %}
                    <td class="text-nowrap text-dark">
                        <a href="{% edit_report exam student %}" class="btn btn-sm btn-dark">Edit Marks</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td>No Assessments available.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}