{% extends request.session.base %}

{% block content %}
<div class="container text-dark">
    <div class="text-center">
        <small class="lead">{{user.schooladministrator.current_school}} Upcoming Examinations</small>
    </div>
    <hr>
    <div class="d-flex justify-content-between mb-3">
        <a href="{% url 'schedule-exam' %}" class="btn btn-sm btn-primary">Search</a>
        <a href="{% url 'schedule-exam' %}" class="btn btn-sm btn-dark">Schedule</a>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered text-dark">
            <thead>
                <tr class="text-dark">
                    <th scope="col">Name</th>
                    <th class="text-nowrap" scope="col">Date</th>
                    <th class="text-nowrap" scope="col">More</th>
                </tr>
            </thead>
            <tbody>
                {% for exam in user.schooladministrator.current_school.Examinations.all %}
                <tr>
                    <td class="text-nowrap text-dark">{{exam}}</td>
                    <td class="text-nowrap text-dark">{{exam.Date}}</td>
                    <td class="text-nowrap">
                        <a href="{% url 'exam-marksheets' exam.pk %}" class="btn btn-sm btn-dark">Mark Sheets</a>
                        <a href="" class="btn btn-sm btn-primary">Reschedule</a>
                        <a href="" class="btn btn-sm btn-dark">Reports</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td>No Examinations have been scheduled</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <ul class="pagination">
            <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
        </ul>
    </div>
</div>
{% endblock %}