{% extends 'base.html' %}
{% load static %}
{% load classfilters %}

{% block nav %}
<a href="{% url 'admin_dashboard' %}" class="nav-item nav-link">Dashboard</a>
{% if user.schooladministrator.schools.count > 1 %}
<div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle text-nowrap" data-bs-toggle="dropdown">current school</a>
    <div class="dropdown-menu border-0">
        {% for school in user.schooladministrator.schools.all %}
        <a href="{% url 'set-school-session' school.pk %}" class="dropdown-item {% if school == user.schooladministrator.current_school %}active{% endif %}">{{school}}</a>
        {% endfor %}
    </div>
</div>
{% endif %}
{% if perms.Terms.change_term %}
{% if user.schooladministrator.current_school.Terms.count > 1 %}
<div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle text-nowrap" data-bs-toggle="dropdown">current term</a>
    <div class="dropdown-menu border-0">
        {% for term in user.schooladministrator.current_school.Terms.all %}
        <a href="{% url 'switch-term' term.id %}" class="dropdown-item {% if term == user.schooladministrator.current_school.current_term %}active{% endif %}">{{term.Name}}</a>
        {% endfor %}
    </div>
</div>
{%  endif %}
{% endif %}
{% if perms %}
<div class="nav-item dropdown  ">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Modules</a>
    <div class="dropdown-menu rounded-0 rounded-bottom border-0 shadow-sm m-0 overflow-auto dropdown-menu-right">
        {% if perms.Terms.view_term %}
        <a href="{% url 'terms' %}" class="dropdown-item">Terms</a>
        {% endif %}
        {% if perms.Applications.view_application %}
        <a href="{% url 'school-applications' %}" class="dropdown-item">Applications</a>
        {% endif %}
        {% if perms.Circulars.view_circular %}
        <a href="{% url 'circulars' %}" class="dropdown-item">Circulars</a>
        {% endif %}
        {% if perms.Attendance.view_attendance %}
        <a href="{% url 'attendance' %}" class="dropdown-item">Attendance</a>
        {% endif %}
        {% if perms.Examinations.view_examination %}
        <a href="{% url 'examinations' %}" class="dropdown-item">Examinations</a>
        {% endif %}
        {% if perms.Reports.view_report %}
        <a href="{% url 'reports' %}" class="dropdown-item">Reports</a>
        {% endif %}
        {% if perms.Events.view_event %}
        <a href="{% url 'events' %}" class="dropdown-item">Events</a>
        {% endif %}
        {% if perms.Enrollments.view_enrollment %}
        <a href="{% url 'enrollments' %}" class="dropdown-item">Enrollments</a>
        {% endif %}
        {% if perms.Lessons.view_lesson %}
        <a href="{% url 'lessons' %}" class="dropdown-item">Lessons</a>
        {% endif %}
        {% if perms.Programmes.view_programme %}
        <a href="{% url 'programmes' %}" class="dropdown-item">Programmes</a>
        {% endif %}
        {% if perms.Subscriptions.view_subscription %}
        <a href="{% url 'subscriptions' %}" class="dropdown-item">Service Subscription</a>
        {% endif %}
        
    </div>
</div>
{% endif %}
<div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle text-nowrap" data-bs-toggle="dropdown">Sectors</a>
    <div class="dropdown-menu border-0">
        {% if perms.Teachers.view_teacher %}
        <a href="{% url 'teachers-list' %}" class="dropdown-item">Teachers</a>
        {% endif %}
        {% if perms.Students.view_student %}
        <a href="{% url 'students' %}" class="dropdown-item">Students</a>
        {% endif %}
        {% if perms.Parents.view_parent %}
        <a href="{% url 'parents-list' %}" class="dropdown-item">Parents</a>
        {% endif %}
        {% if perms.FeesManagement.view_paymentdue %}
        <a href="{% url 'dues' %}" class="dropdown-item">Fees Management</a>
        {% endif %}
        {% if perms.LibraryManagement.view_book %}
        <a href="{% url 'books' %}" class="dropdown-item">Library</a>
        {%  endif %}
        {% if perms.SickBay.view_admission %}
        <a href="{% url 'admissions' %}" class="dropdown-item">Sick Bay</a>
        {% endif %}
    </div>
</div>
<div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle text-nowrap" data-bs-toggle="dropdown">Set Up</a>
    <div class="dropdown-menu border-0">
        {% if perms.Levels.view_level %}
        <a href="{% url 'levels' %}" class="dropdown-item">Levels</a>
        {% endif %}
        {% if perms.Subjects.view_subject %}
        <a href="{% url 'subjects' %}" class="dropdown-item">Subjects</a>
        {% endif %}
        {% if perms.Classes.view_classe %}
        <a href="{% url 'classes' %}" class="dropdown-item">Classes</a>
        {% endif %}
        {% if perms.Grades.view_grade %}
        <a href="{% url 'grades' %}" class="dropdown-item">Grades</a>
        {% endif %}
        {% if perms.Divisions.view_division %}
        <a href="{% url 'divisions' %}" class="dropdown-item">Divisions</a>
        {% endif %}
    </div>
</div>
<div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle text-nowrap" data-bs-toggle="dropdown">Security</a>
    <div class="dropdown-menu border-0">
        <a href="{% url 'change-password' %}" class="dropdown-item ">Change Password</a>
        <a href="" class="dropdown-item">View Permissions</a>
        {% if perms.SchoolAdministrators.view_schooladministrator %}
        <a href="{% url 'school-administrators' %}" class="dropdown-item">School Administrators</a>
        {% endif %}
        <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
    </div>
</div>

{% endblock %}

{% block content %}
            {% if perms.Reports.view_report %}
            <div class="mt-3 text-center"> 
                <small class="lead text-dark"><u>{{user.schooladministrator.current_school}} Dashboard</u></small>
            </div>
            {% endif %}
            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-dark text-white rounded d-flex align-items-center justify-content-between p-4">
                            <i class="bi bi-people-fill fa-3x"></i>
                            <div class="ms-3">
                                <p class="mb-2 text-nowrap">Total Students</p>
                                <h6 class="mb-0 text-white">{{user.schooladministrator.current_school.students.count}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-dark text-white rounded d-flex align-items-center justify-content-between p-4">
                            <i class="bi bi-people-fill fa-3x"></i>
                            <div class="ms-3">
                                <p class="mb-2 text-nowrap">Total Teachers</p>
                                <h6 class="mb-0 text-white">{{user.schooladministrator.current_school.Teachers.count}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-dark text-white rounded d-flex align-items-center justify-content-between p-4">
                            <i class="bi bi-people-fill fa-3x"></i>
                            <div class="ms-3">
                                <p class="mb-2 text-nowrap">Total Parents</p>
                                <h6 class="mb-0 text-white">{{user.schooladministrator.current_school.Parents.count}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-dark text-white rounded d-flex align-items-center justify-content-between p-4">
                            <i class="bi bi-people-fill fa-3x"></i>
                            <div class="ms-3">
                                <p class="mb-2 text-nowrap">Total Administrators</p>
                                <h6 class="mb-0 text-white">{{user.schooladministrator.current_school.Administrators.count}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5 align-items-center">
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                            {{plot_div|safe}}
                        </div>
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                          {{plot2|safe}}
                      </div>                    
                    </div>
                </div>
            </div>  


            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Student Statistics</h6>
                        <a href="">Show All</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start text-dark align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-dark">
                                    <th scope="col">Class</th>
                                    <th class="text-nowrap" scope="col">No. Of Students</th>
                                    <th class="text-nowrap" scope="col">Today's Attendance</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for class in user.schooladministrator.current_school.classes.all %}
                                <tr>
                                    <td class="text-nowrap">{{class}}</td>
                                    <td>{{class.Students.count}}</td>
                                    <td>{{class|attendance:request}}</td>
                                    <td class="text-nowrap">
                                        <a href="{% url 'class-performance' class.pk %}" class="btn btn-sm btn-dark">Performance</a>
                                        <a href="{% url 'class-profile' class.id %}" class="btn btn-sm btn-primary">More</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Recent Sales End -->

            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-5 align-items-center">
                        <div class="col-lg-6 wow fadeInUp">
                            <div class="h-100 bg-dark rounded p-4">
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <small class="mb-0 text-white lead">Upcoming Examinations</small>
                                    <a href="">Show All</a>
                                </div>
                                {% for exam in user.schooladministrator.current_school.Examinations.all %}
                                <div class="d-flex align-items-center border-bottom py-2">
                                    <div class="w-100 ms-3">
                                        <div class="d-flex w-100 align-items-center justify-content-between">
                                            <span class="text-white">{{exam}}</span>
                                        </div>
                                    </div>
                                </div>
                                {% empty %}
                                <small style="font-size: medium;" class="lead text-white">No upcoming examinations</small>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeInUp">
                            <div class="h-100 bg-dark rounded p-4">
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <small class="mb-0 text-white lead">Upcoming Events</small>
                                    <a href="">Show All</a>
                                </div>
                                {% for event in user.schooladministrator.current_school.Events.all %}
                                <div class="d-flex align-items-center border-bottom py-2">
                                    <div class="w-100 ms-3">
                                        <div class="d-flex w-100 align-items-center justify-content-between">
                                            <span class="text-white">{{event}}</span>
                                        </div>
                                    </div>
                                </div>
                                {% empty %}
                                <small style="font-size: medium;" class="lead text-white">No upcoming events</small>
                                {% endfor %}
                            </div>
                        </div>              
                    </div>
                </div>
            </div> 
                    
                    
            
            <!-- Widgets End -->
{% endblock %}