{% extends 'base.html' %}
{% load static %}
{% load classfilters %}

{% block nav %}
<a href="{% url 'admin_dashboard' %}" class="nav-item nav-link">Dashboard</a>
<div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle text-nowrap" data-bs-toggle="dropdown">current school</a>
    <div class="dropdown-menu bg-transparent border-0">
        {% for school in user.schooladministrator.schools.all %}
        <a href="{% url 'set-school-session' school.pk %}" class="dropdown-item {% if school == user.schooladministrator.current_school %}active{% endif %}">{{school}}</a>
        {% endfor %}
    </div>
</div>
<a href="{% url 'admin_dashboard' %}" class="nav-item nav-link">Notifications</a>
<a href="{% url 'admin_dashboard' %}" class="nav-item nav-link">Messages</a>

<div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Modules</a>
    <div class="dropdown-menu rounded-0 rounded-bottom border-0 shadow-sm m-0">
        <a href="{% url 'circulars' %}" class="dropdown-item">Circulars</a>
        <a href="{% url 'attendance' %}" class="dropdown-item">Attendance</a>
        <a href="{% url 'examinations' %}" class="dropdown-item">Examinations</a>
        <a href="{% url 'reports' %}" class="dropdown-item">Reports</a>
        <a href="{% url 'grades' %}" class="dropdown-item">Grades</a>
        <a href="{% url 'divisions' %}" class="dropdown-item">Divisions</a>
        <a href="{% url 'events' %}" class="dropdown-item">Events</a>
        <a href="{% url 'students' %}" class="dropdown-item">Students</a>
        <a href="{% url 'classes' %}" class="dropdown-item">Classes</a>
        <a href="{% url 'subjects' %}" class="dropdown-item">Subjects</a>
        <a href="{% url 'lessons' %}" class="dropdown-item">Lessons</a>
        <a href="{% url 'teachers-list' %}" class="dropdown-item">Teachers</a>
        <a href="{% url 'parents-list' %}" class="dropdown-item">Parents</a>
        <a href="{% url 'subscriptions' %}" class="dropdown-item">Service Subscription</a>
        <a href="{% url 'school-administrators' %}" class="dropdown-item">School Administrators</a>
    </div>
</div>

{% endblock %}

{% block content %}
            <div class="mt-3 text-center"> 
                <small class="lead text-dark"><u>{{user.schooladministrator.current_school}} Dashboard</u></small>
            </div>
            <!-- Sale & Revenue Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-dark text-white rounded d-flex align-items-center justify-content-between p-4">
                            <i class="bi bi-people-fill fa-3x"></i>
                            <div class="ms-3">
                                <p class="mb-2 text-nowrap">Total Students</p>
                                <h6 class="mb-0 text-white">{{user.schooladministrator.current_school.students.count}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-dark text-white rounded d-flex align-items-center justify-content-between p-4">
                            <i class="bi bi-people-fill fa-3x"></i>
                            <div class="ms-3">
                                <p class="mb-2 text-nowrap">Total Teachers</p>
                                <h6 class="mb-0 text-white">{{user.schooladministrator.current_school.students.count}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-dark text-white rounded d-flex align-items-center justify-content-between p-4">
                            <i class="bi bi-people-fill fa-3x"></i>
                            <div class="ms-3">
                                <p class="mb-2 text-nowrap">Total Parents</p>
                                <h6 class="mb-0 text-white">{{user.schooladministrator.current_school.students.count}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class="bg-dark text-white rounded d-flex align-items-center justify-content-between p-4">
                            <i class="bi bi-people-fill fa-3x"></i>
                            <div class="ms-3">
                                <p class="mb-2 text-nowrap">Total Students</p>
                                <h6 class="mb-0 text-white">{{user.schooladministrator.current_school.students.count}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Recent Sales Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light text-center rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">Student Statistics</h6>
                        <a href="">Show All</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table text-start text-dark align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-dark">
                                    <th scope="col">Class</th>
                                    <th class="text-nowrap" scope="col">No. Of Students</th>
                                    <th class="text-nowrap" scope="col">Today's Attendance</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for class in user.schooladministrator.current_school.classes.all %}
                                <tr>
                                    <td class="text-nowrap">{{class}}</td>
                                    <td>{{class.Students.count}}</td>
                                    <td>{{class|attendance:request}}</td>
                                    <td class="text-nowrap">
                                        <a href="" class="btn btn-sm btn-dark">Performance</a>
                                        <a href="" class="btn btn-sm btn-primary">More</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Recent Sales End -->


            <!-- Widgets Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-dark rounded p-4">
                            <div class="d-flex align-items-center text-white justify-content-between mb-2">
                                <small class="mb-0 lead">Messages</small>
                                <a href="">Show All</a>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" src="{% static 'img/user.jpg' %}" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3 text-white">
                                    <div class="d-flex w-100 justify-content-between">
                                        <small style="font-size: small;" class="mb-0 lead text-white">Principal</small>
                                        <small>15 minutes ago</small>
                                    </div>
                                    <span>Short message goes here...</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" src="{% static 'img/default_user.jpg' %}" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3 text-white">
                                    <div class="d-flex w-100 justify-content-between">
                                        <small style="font-size: small;" class="mb-0 lead text-white">D.O.S</small>
                                        <small>30 minutes ago</small>
                                    </div>
                                    <span>Short message goes here...</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center border-bottom py-3">
                                <img class="rounded-circle flex-shrink-0" src="{% static 'img/ceo.jpg' %}" alt="" style="width: 40px; height: 40px;">
                                <div class="w-100 ms-3 text-white">
                                    <div class="d-flex w-100 justify-content-between">
                                        <small style="font-size: small;" class="mb-0 lead text-white">Elijah</small>
                                        <small>45 minutes ago</small>
                                    </div>
                                    <span>Short message goes here...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-dark rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <small class="mb-0 text-white lead">Upcoming Examinations</small>
                                <a href="">Show All</a>
                            </div>
                            {% for exam in user.schooladministrator.current_school.Examinations.all %}
                            <div class="d-flex align-items-center border-bottom py-2">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span class="text-white">{{exam}}</span>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <small style="font-size: medium;" class="lead text-white">No upcoming examinations</small>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-xl-4">
                        <div class="h-100 bg-dark rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <small class="mb-0 text-white lead">Upcoming Events</small>
                                <a href="">Show All</a>
                            </div>
                            {% for event in user.schooladministrator.current_school.Events.all %}
                            <div class="d-flex align-items-center border-bottom py-2">
                                <div class="w-100 ms-3">
                                    <div class="d-flex w-100 align-items-center justify-content-between">
                                        <span class="text-white">{{event}}</span>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <small style="font-size: medium;" class="lead text-white">No upcoming events</small>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Widgets End -->
{% endblock %}