{% extends request.session.base %}
{% load static %}
{% load permission_tags%}


{% block content %}
        <!-- Appointment Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="rounded">
                    <div class="row g-0">
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                            <div class="h-100 d-flex flex-column justify-content-center p-3">
                                <h1 style="font-size: larger;" class="mb-4">Review {{admin}} Adminship Access</h1>
                                <form method="post" action=".">
                                    {% csrf_token %}
                                    <div class="row g-3">
                                        <div class="form-group">
                                            <label>Permissions</label>
                                            <select multiple name="permissions" class="form-control">
                                                {% for permission in permissions %}
                                                <option {% if permission in admin|permissions:user.schooladministrator.current_school %}selected{% endif %} value="{{permission.id}}">{{permission.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Groups</label>
                                            <select multiple name="groups" class="form-control">
                                                {% for group in groups %}
                                                <option {% if group in admin|groups:user.schooladministrator.current_school %}selected{% endif %} value="{{group.id}}">{{group.name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        
                                        <div class="col-12">
                                            <button class="btn btn-primary w-100 py-3" type="submit">Change</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
                            <div class="position-relative h-100">
                                <img class="position-absolute w-100 h-100 rounded" src="{% static 'img/security.jpg' %}" style="object-fit: cover;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Appointment End -->
{% endblock %}