{% extends request.session.base %}
{% load permission_tags %}

{% block content %}
<div class="container text-dark">
    <div class="text-center">
        <small class="lead">{{user.schooladministrator.current_school}} Administrators</small>
    </div>
    <hr>
    <div class="d-flex justify-content-between mb-3">
        <span></span>
        {% if perms.SchoolAdministrators.add_schooladministrator %}
        <a href="{% url 'register-schooladmin' %}" class="btn btn-sm btn-dark">Add New</a>
        {% endif %}
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr class="text-dark">
                    <th scope="col">Names</th>
                    <th class="text-nowrap" scope="col">Last Login</th>
                    <th class="text-nowrap" scope="col">Unauthorized Attempts</th>
                    <th class="text-nowrap" scope="col">Roles</th>
                    <th class="text-nowrap" scope="col">Permissions </th>
                    <th class="text-nowrap" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for adminship in admins %}
                <tr>
                    <td class="text-nowrap text-dark"><h6 class="mb-0"><span class="text-primary">{{adminship.Admin.user.first_name}} {{adminship.Admin.user.last_name}}</span><br/>{{adminship.Admin.user.email}}</h6></td>
                    <td class="text-nowrap text-dark"><small>{{adminship.last_login}}</small></td>
                    <td class="text-nowrap text-dark"><small>{{adminship.unauthorized_attempts}}</small></td>
                    <td class="text-nowrap text-dark">{% for group in adminship.Groups.all %} <small>{{group}}</small> <br> {% endfor %}</td>
                    {% if not adminship.super_admin %}
                    <td class="text-nowrap text-dark"><small><u>Group or Role based Permissions</u></small><br/>{% for group in adminship.Groups.all %}{%for perm in group.permissions.all%}<small>{{perm}}</small><br>{% endfor %}{% endfor %}</td>
                    {% else %}
                    <td class="text-nowrap text-dark"><small>Unlimited Access <br><i class="bi bi-key-fill fa-3x"></i></small></td>
                    {% endif %}
                    <td class="text-nowrap">
                        <a href="" class="btn btn-sm btn-primary">View Actions</a>
                        {% with current_adminship=request.user.schooladministrator|adminship:request.user.schooladministrator.current_school %}
                        {% if adminship.id > current_adminship.id %}
                        <a href="{% url 'change-permissions' adminship.Admin.pk %}" class="btn btn-sm btn-dark">Change Permissions</a>
                        <a href="{% url 'terminate-admin' adminship.id %}" class="btn btn-sm btn-primary">Terminate</a>
                        {% endif %}
                        {% endwith %}
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td>No administrators have been added.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-center">
        <ul class="pagination">
          {% if admins.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ admins.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
          {% endif %}
      
          {% for i in admins.paginator.page_range %}
            {% if admins.number == i %}
              <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
      
          {% if admins.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ admins.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          {% endif %}
        </ul>
      </div>
</div>
{% endblock %}