{% extends request.session.base %}

{% block content %}
<div class="container text-dark">
    <div class="text-center">
        <small class="lead">{{user.schooladministrator.current_school}} Circulars</small>
    </div>
    <hr>
    <div class="d-flex justify-content-between mb-3 container">
        <small class="lead text-dark">{{user.schooladministrator.current_school.Circulars.count}}</small>
        <a href="{% url 'add-circular' %}" class="btn btn-sm btn-dark">Write & Publish</a>
    </div>
    <div class="container">
		<p>Dear Parents,</p>
		<p>We would like to inform you that the school will be closed for a mid-term break from Monday, April 5th to Friday, April 9th. Classes will resume as usual on Monday, April 12th.</p>
		<p>Please make sure that your child completes any homework assigned before the break and brings any necessary materials back to school on the first day back. We hope you and your family enjoy the break and return refreshed for the rest of the academic year.</p>
		<p>Thank you for your cooperation.</p>
		<p>Sincerely,</p>
		<p>The School Administration</p>
	</div>
    <div class="d-flex justify-content-between mb-3 container">
        <small class="lead text-dark">{{user.schooladministrator.current_school.Circulars.count}}</small>
        <a href="{% url 'schedule-exam' %}" class="btn btn-sm btn-dark">Generate Pdf</a>
    </div>
    <hr>
</div>
{% endblock %}