{% extends request.session.base %}

{% block content %}
<div class="container text-dark">
    <div class="text-center">
        <small class="lead">{{user.schooladministrator.current_school}} Circulars</small>
    </div>
    <hr>
    <div class="d-flex justify-content-between mb-3 container">
        <a href="{% url 'add-circular' %}" class="btn btn-sm btn-dark">Write & Publish</a>
    </div>
    {% for circular in request.user.schooladministrator.current_school.Circulars.all %}
    <div class="container">
		<p><b><u>{{circular.title}}</u></b></p>
		<p>{{circular.body|linebreaks}}</p>
	</div>
    <div class="d-flex justify-content-between mb-3 container">
        <small class="lead text-dark"></small>
        <a href="{% url 'schedule-exam' %}" class="btn btn-sm btn-dark">Generate Pdf</a>
    </div>
    <hr>
    {% empty %}
    <div class="text-center">
        <small class="lead text-dark">No Circulars have been written</small>
    </div>
    {% endfor %}
</div>
{% endblock %}