{% extends request.session.base %}
{% load static %}

{% block content %}
<div class="container text-dark">
    <div class="text-center">
        <small class="lead">{{user.schooladministrator.current_school}} Classes</small>
    </div>
    <hr>
    <div class="d-flex justify-content-between mb-3">
        <small></small>
        <a href="{% url 'add-class' %}" class="btn btn-sm btn-dark">Add Class</a>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr class="text-dark">
                    <th scope="col">Class</th>
                    <th scope="col">Class Teacher</th>
                    <th class="text-nowrap" scope="col">Students</th>
                    <th class="text-nowrap" scope="col">Starts</th>
                    <th class="text-nowrap" scope="col">Ends</th>
                </tr>
            </thead>
            <tbody>
                {% for class in request.user.schooladministrator.current_school.classes.all %}
                <tr>
                    <td class="text-nowrap text-dark">{{class}}</td>
                    <td class="text-nowrap text-dark">{{class.Class_Teacher}}</td>
                    <td class="text-nowrap text-dark">{{class.Students.count}} Students</td>
                    <td class="text-nowrap"></td>
                    <td class="text-nowrap"></td>
                    <td class="text-nowrap">
                        <a href="" class="btn btn-sm btn-primary">View Students</a>
                        <a href="" class="btn btn-sm btn-dark">Class Info</a>
                        <a href="" class="btn btn-sm btn-primary">TimeTable</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td>No classes registered.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}