{% extends request.session.base %}

{% block content %}
<div class="container text-dark">
    <div class="text-center">
        <small class="lead">{{user.schooladministrator.current_school}} Daily attendance records</small>
    </div>
    <hr>
    <div class="d-flex justify-content-between mb-3">
        <small class="lead text-dark"></small>
        <a href="{% url 'add-attendance' %}" class="btn btn-sm btn-dark">Add</a>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered text-dark">
            <thead>
                <tr class="text-dark">
                    <th scope="col">Date</th>
                    <th class="text-nowrap" scope="col">Class</th>
                    <th class="text-nowrap" scope="col">Students Attended</th>
                    <th class="text-nowrap" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for attendance in user.schooladministrator.current_school.attendance.all %}
                <tr>
                    <td class="text-nowrap text-dark">{{attendance.Date}}</td>
                    <td class="text-nowrap text-dark">{{attendance.Class}}</td>
                    <td class="text-nowrap text-dark">{{attendance.Students}}</td>
                    <td class="text-nowrap">
                        <a href="" class="btn btn-sm btn-dark">Details</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td>No Attendance data has been registered.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}