{% extends request.session.base %}

{% block content %}
<div class="container text-dark">
    <div class="text-center">
        <small class="lead">{{user.schooladministrator.current_school}} Daily attendance records</small>
    </div>
    <hr>
    <div class="d-flex justify-content-between mb-3">
        <small class="lead text-dark"></small>
        <a href="{% url 'add-attendance' %}" class="btn btn-sm btn-dark">Add</a>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered text-dark">
            <thead>
                <tr class="text-dark">
                    <th scope="col">Date</th>
                    <th class="text-nowrap" scope="col">Class</th>
                    <th class="text-nowrap" scope="col">Students Attended</th>
                    <th class="text-nowrap" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for attendance in user.schooladministrator.current_school.attendance.all %}
                <tr>
                    <td class="text-nowrap text-dark">{{attendance.Date}}</td>
                    <td class="text-nowrap text-dark">{{attendance.Class}}</td>
                    <td class="text-nowrap text-dark">{{attendance.Students}}</td>
                    <td class="text-nowrap">
                        <a href="" class="btn btn-sm btn-dark">Details</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td>No Attendance data has been registered.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="text-center">
        <ul class="pagination">
          {% if attendance.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ attendance.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
          {% endif %}
      
          {% for i in attendance.paginator.page_range %}
            {% if attendance.number == i %}
              <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
      
          {% if attendance.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ attendance.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          {% endif %}
        </ul>
    </div>

</div>


{% endblock %}