{% extends request.session.base %}
{% load static %}

{% block content %}
<div class="">
  <div class="d-flex justify-content-between mb-3 container">
    <h1 class="lead">{{user.schooladministrator.current_school}} attendance records</h1>
    <a href="{% url 'enroll-student' %}" class="btn btn-sm btn-primary">Add</a>
  </div>
  <div class="container-fluid mb-3">
    <div class="bg-light text-center rounded">
        <div class="d-flex align-items-center mb-4">
            <h6 class="mb-0">{{ class.Name }}</h6>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Students</th>
                    <th>Teachers</th>
                  </tr>
                </thead>
                <tbody>
                  {% for teacher in teachers %}
                    <tr>
                        <td>
                            <img style="border-radius: 50%;" class="img mb-2" src="{% static 'img/user.jpg' %}"></img>
                        </td>
                        <td>{{ teacher.user.first_name }}</td>
                        <td>{{ student.user.last_name }}</td>
                        <td>
                            
                        </td>
                        <td>
                            <div class="mb-3 btn btn-sm btn-primary">
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle text-white text-center" data-bs-toggle="dropdown">Options</a>
                                    <div class="dropdown-menu rounded-0 rounded-bottom border-0 shadow-sm m-0">
                                        <a href="" class="dropdown-item">View Reports</a>
                                        <a href="{% url 'login-parent' %}" class="dropdown-item">Delete</a>
                                        <a href="{% url 'login-teacher' %}" class="dropdown-item">Re-Schedule</a>
                                    </div>
                                </div> 

                            </div>
                        </td>
                    </tr>
                  {% empty %}
                    <tr>
                      <td colspan="3">No attendance records</td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
{% endblock %}
