{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="card my-5">
          <div class="card-header bg-dark text-white">
            <h4 class="mb-0 text-white">Reset Password</h4>
          </div>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              {% if error %}
                <div class="alert alert-danger text-nowrap">{{ error }}</div>
              {% endif %}
              <div class="form-group mb-3">
                <label for="username">Code:</label>
                <input type="text" class="form-control" id="code" name="code" placeholder="Enter Code We Sent">
              </div>
              <div class="form-group mb-3">
                <label for="username">Password:</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter New Password">
              </div>
              <div class="form-group mb-3">
                <label for="username">Confirm:</label>
                <input type="password" class="form-control" id="password" name="confirm" placeholder="Confirm Password">
              </div>
              <button type="submit" id="login-button" type="submit"  class="btn btn-sm btn-dark">Confirm</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}