{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-8 col-sm-10">
        <div class="card my-5">
          <div class="card-header bg-dark text-white">
            <h4 class="mb-0 text-white">Sign Up for a User Account</h4>
          </div>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              <div class="form-group mb-3">
                <label for="inputFirstName">First Name</label>
                <input type="text" name="first_name" class="form-control" id="inputFirstName" >
              </div>
              <div class="form-group mb-3">
                <label for="inputLastName">Last Name</label>
                <input type="text" name="second_name" class="form-control" id="inputLastName">
              </div>
              <div class="form-group mb-3">
                <label for="code">Code</label>
                <input type="text" name="code" class="form-control" id="code">
              </div>
              <div class="form-group mb-3">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" class="form-control" id="inputPassword">
              </div>
              <div class="form-group mb-3">
                <label for="inputConfirmPassword">Confirm Password</label>
                <input type="password" name="confirm" class="form-control" id="inputConfirmPassword" >
              </div>
              <button class="btn btn-sm btn-dark">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}