{% extends request.session.base %}
{% load static %}

{%  block content %}
        <!-- Carousel Start -->
        <div class="container-fluid p-0 mb-5">
           <img class="img img-fluid" src="{% static 'img/parent.jpg' %}" alt="">
        </div>
        <!-- Carousel End -->


        <div class="container">
          <div class="text-center">
            <small class="lead text-dark">Top Features</small>
          </div>
          <div class="row">
            <div class="col-md-4 mb-4">
              <div class="card">
                <img class="card-img-top"
                  src="https://4.imimg.com/data4/DB/QV/MY-29214035/library-management-system-500x500.jpg"
                  style="object-fit: cover; width: 100%; height: 200px;" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Library Management</h5>
                  <p class="card-text">Librarians can manage Books, Lends and Returns on the go.</p>

                </div>
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="card">
                <img class="card-img-top"
                  src="https://th.bing.com/th/id/R.7d4dcb9aa18f7abb1c5e9b79ef0ce3c1?rik=d61gDUz28dpsPA&pid=ImgRaw&r=0&sres=1&sresct=1"
                  alt="Card image cap" style="object-fit: cover; width: 100%; height: 200px;">
                <div class="card-body">
                  <h5 class="card-title">Sick Bay Management</h5>
                  <p class="card-text">Students health data is a click away both to the schools and the parents.</p>

                </div>
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="card">
                <img class="card-img-top"
                  src="https://wallpapercave.com/wp/wp2164078.jpg"
                  alt="Card image cap" style="object-fit: cover; width: 100%; height: 200px;">
                <div class="card-body">
                  <h5 class="card-title">Fees Management</h5>
                  <p class="card-text">Fees payment records and online payments are an intergration away..</p>

                </div>
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="card">
                <img class="card-img-top" src="/static/img/dad.jpg" alt="Card image cap"
                  style="object-fit: cover; width: 100%; height: 200px;">
                <div class="card-body">
                  <h5 class="card-title">Parents Access</h5>
                  <p class="card-text">Parents can login to the system and access insights from the schools they are connected
                    to.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="card">
                <img class="card-img-top" src="/static/img/teacher.webp" alt="{{request.HOST}}"
                  style="object-fit: cover; width: 100%; height: 200px;">
                <div class="card-body">
                  <h5 class="card-title">Teachers Access</h5>
                  <p class="card-text">Teachers can login to the system and access insights from the schools they are connected
                    to.</p>
                </div>
              </div>
            </div>
            <div class="col-md-4 mb-4">
              <div class="card">
                <img class="card-img-top" src="/static/img/security.jpg" alt="Card image cap"
                  style="object-fit: cover; width: 100%; height: 200px;">
                <div class="card-body">
                  <h5 class="card-title">Administrators Access</h5>
                  <p class="card-text">Super Admins can limit what their administrators can edit delete or access.</p>

                </div>
              </div>
            </div>
          </div>
        </div>



        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <h6 class="mb-4">Learn More About Our Aim and Purpose</h6>
                        <p>The aim and purpose of Edumetrics is to provide a comprehensive and reliable education management system for educational institutions, including schools and <strike>universities</strike>. This system aims to improve the efficiency and effectiveness of academic processes such as admissions, attendance tracking, grading, scheduling, and performance evaluation.</p>
                        <p class="mb-4">Edumetrics strives to enhance the education system by automating administrative tasks, providing data-driven insights, and promoting collaboration between educators, administrators, students, and parents. The goal is to create a seamless and streamlined educational experience for all stakeholders, with an emphasis on student success and outcomes.</p>
                        <p class="mb-4">Edumetrics takes the security and privacy of its users very seriously. We use industry-standard encryption and security protocols to protect all data and communications on our platform. Our systems are regularly monitored and updated to ensure they are secure and up-to-date with the latest security practices. We also conduct regular security audits and penetration testing to identify and address any vulnerabilities. Our goal is to provide our users with a safe and secure environment to manage their educational data.</p>
                        <div class="row g-4 align-items-center">
                            <div class="col-sm-6">
                                <a class="btn btn-primary rounded-pill py-3 px-5" href="">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                      <img class="img img-fluid" src="{% static 'img/childwithparent.jpeg' %}" alt="">
                  </div>                    
                </div>
            </div>
        </div>
        <!-- About End -->



        {% endblock %}