{% extends request.session.base %}
{% load static %}

{%  block content %}
        <!-- Carousel Start -->
        <div class="container-fluid p-0 mb-5">
            <div class="owl-carousel header-carousel position-relative">
                <div class="owl-carousel-item position-relative">
                    <img class="img-fluid" width="100%" src="{% static 'img/parent.jpg' %}" alt="">
                    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, .2);">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-10 col-lg-8">
                                    <h1 class="display-2 text-white animated slideInDown mb-4">Designed to serve Parents</h1>
                                    <p class="fs-5 fw-medium text-white mb-4 pb-2">
                                        Get timely and accurate information about your child's academic progress, attendance, behavior, and overall well-being.
                                        
                                    </p>
                                    <a href="" class="btn btn-primary rounded-pill py-sm-3 px-sm-5 me-3 animated slideInLeft">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-carousel-item position-relative">
                    <img class="img-fluid" src="{% static 'img/classroom.jpg' %}" alt="">
                    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, .2);">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-10 col-lg-8">
                                    <h1 class="display-2 text-white animated slideInDown mb-4">Designed to serve schools</h1>
                                    <p class="fs-5 fw-medium text-white mb-4 pb-2">
                                        Edumetrics provides schools with tools to analyze student data, identify areas where students are struggling, and implement interventions to improve their performance. This can lead to better academic outcomes for students, higher graduation rates, and more successful post-graduation transitions.
                                    </p>
                                    <a href="" class="btn btn-primary rounded-pill py-sm-3 px-sm-5 me-3 animated slideInLeft">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel End -->


        <!-- Facilities Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">System Facilities</h1>
                    <p>Here are some of the benefits of using our school administration system</p>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="facility-item">
                            <div class="facility-text bg-primary">
                                <h3 class="text-primary mb-3">Secure</h3>
                                <p class="mb-0">Edumetrics takes the security and privacy of its users very seriously.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="facility-item">
                            <div class="facility-text bg-success">
                                <h3 class="text-success mb-3">Effective</h3>
                                <p class="mb-0">Edumetrics is an easy to navigate site.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="facility-item">
                            <div class="facility-text bg-warning">
                                <h3 class="text-warning mb-3">User Friendly</h3>
                                <p class="mb-0">Edumetrics is designed with our users in mind. We've created an intuitive interface that's easy to use.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Facilities End -->


        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <h1 class="mb-4">Learn More About Our Aim and Purpose</h1>
                        <p>The aim and purpose of Edumetrics is to provide a comprehensive and reliable education management system for educational institutions, including schools and universities. This system aims to improve the efficiency and effectiveness of academic processes such as admissions, attendance tracking, grading, scheduling, and performance evaluation.</p>
                        <p class="mb-4">Edumetrics strives to enhance the education system by automating administrative tasks, providing data-driven insights, and promoting collaboration between educators, administrators, students, and parents. The goal is to create a seamless and streamlined educational experience for all stakeholders, with an emphasis on student success and outcomes.</p>
                        <p class="mb-4">Edumetrics takes the security and privacy of its users very seriously. We use industry-standard encryption and security protocols to protect all data and communications on our platform. Our systems are regularly monitored and updated to ensure they are secure and up-to-date with the latest security practices. We also conduct regular security audits and penetration testing to identify and address any vulnerabilities. Our goal is to provide our users with a safe and secure environment to manage their educational data.</p>
                        <div class="row g-4 align-items-center">
                            <div class="col-sm-6">
                                <a class="btn btn-primary rounded-pill py-3 px-5" href="">Read More</a>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex align-items-center">
                                    <img class="rounded-circle flex-shrink-0" src="{% static 'img/ceo.jpg' %}" alt="" style="width: 45px; height: 45px;">
                                    <div class="ms-3">
                                        <h6 class="text-primary mb-1">Elijah Isreal</h6>
                                        <small>CEO & Founder</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
        <!-- About End -->



        {% endblock %}