{% extends request.session.base %}

{% block content %}
<div class="container text-dark">
    <div class="text-center">
        <small class="lead">{{user.schooladministrator.current_school}} Levels</small>
    </div>
    <hr>
    <div class="d-flex justify-content-between mb-3">
        <small class="lead text-dark"></small>
        <a href="{% url 'add-level' %}" class="btn btn-sm btn-dark">Add New</a>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr class="text-dark">
                    <th scope="col">Name</th>
                    <th scope="col">Students</th>
                    <th class="text-nowrap" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for level in user.schooladministrator.current_school.Levels.all %}
                <tr>
                    <td class="text-nowrap text-dark">{{level.Name}}</td>
                    <td class="text-nowrap text-dark"></td>
                    <td class="text-nowrap">
                        <a href="" class="btn btn-sm btn-dark">View Students</a>
                        <a href="{% url 'enroll-student' level.id %}" class="btn btn-sm btn-primary">Enroll Student</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td>No levels have been added.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}