{% extends request.session.base %}
{% load fees_tags %}

{% block content %}
<div class="container text-dark">
    <div class="text-center">
        <small class="lead">{{child.active_enrollment.Programme}} Programme Requirements</small>
    </div>
    <hr>
    <div class="d-flex justify-content-between mb-3">
        <small></small>
        <a href="{% url 'download-students-info' %}" class="btn btn-sm btn-dark">Export</a>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered text-dark">
            <thead>
                <tr class="text-dark">
                    <th scope="col">Requirement</th>
                    <th class="text-nowrap" scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                {% for requirement in child.active_enrollment.Programme.Requirements.all %}
                <tr>
                    <td class="text-nowrap text-dark">{{requirement.Name}}</td>
                    <td class="text-nowrap text-dark">{{requirement.Quantity}}</td>
                </tr>
                {% empty %}
                <tr>
                    <td class="text-nowrap text-dark">No Requirements listed.</td>
                    <td class="text-nowrap text-dark"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}