{% extends request.session.base %}
{% load static %}
{% load teachers_tags %}


{% block content %}

    <div class="container">
        <div class="row g-5">
            <div class="col-lg-4 ">
                <div class="d-flex flex-column h-100 text-center overflow-auto shadow p-3">
                    <img class="w-100 img-fluid mb-4" style="border-radius: 50%;" src="{% static 'img/user_.png' %}" alt="Image">
                    <small class="lead mt-2 text-dark">{{teacher}}</small>
                    <br>
                    <small class="mt-0">Teacher</small>
                    <div class="mb-4" style="height: 22px;">
                        <h4 class="typed-text-output d-inline-block text-light"></h4>
                    </div>
                    <div class="d-flex align-items-end justify-content-between btn-group border-top">
                        <a href="" class="btn btn-dark w-50 border-end">Terminate</a>
                        <a href="{% url 'change-teacher-profile' teacher.id %}" class="btn btn-primary w-50 btn-scroll">Edit Profile</a>
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-8 mt-0">
                <!-- About Start -->
                <section class="mt-5 wow fadeInUp text-dark" data-wow-delay="0.1s">
                    <small class="lead pb-3 mb-5">Teacher's Profile</small>
                    <hr>
                    <p>
                        {{student}} is a dedicated and hardworking teacher who teaches students in {{student.Class}} {{student.Subjects.all|join:", "}}. 
                    </p>
                    <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                        <div class="text-center mb-2">
                            <small>Today's Lessons</small>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered text-dark">
                                <thead>
                                    <tr class="text-dark">
                                        <th scope="col">Subject</th>
                                        <th class="text-nowrap" scope="col">Class</th>
                                        <th class="text-nowrap" scope="col">Time</th>
                                        <th class="text-nowrap" scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in class.Students.all %}
                                    <tr>
                                        <td class="text-nowrap text-dark">{{student.first_name}}</td>
                                        <td class="text-nowrap text-dark">{{student.last_name}}</td>
                                        <td class="text-nowrap">{{student.active_enrollment.Date}}</td>
                                        <td class="text-nowrap"> UGX</td>
                                        <td class="text-nowrap">
                                            <a href="" class="btn btn-sm btn-primary">Profile</a>
                                            <a href="" class="btn btn-sm btn-dark">Performance</a>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td>No Students Found in this  {{class}} class</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                    </section>
                    <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                        <div class="text-center mb-2">
                            <small>Subjects Taught</small>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered text-dark">
                                <thead>
                                    <tr class="text-dark">
                                        <th scope="col">Name</th>
                                        <th class="text-nowrap" scope="col">Students</th>
                                        <th class="text-nowrap" scope="col">H.O.D</th>
                                        <th class="text-nowrap" scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in class.Students.all %}
                                    <tr>
                                        <td class="text-nowrap text-dark">{{student.first_name}}</td>
                                        <td class="text-nowrap text-dark">{{student.last_name}}</td>
                                        <td class="text-nowrap">{{student.active_enrollment.Date}}</td>
                                        <td class="text-nowrap"> UGX</td>
                                        <td class="text-nowrap">
                                            <a href="" class="btn btn-sm btn-primary">Profile</a>
                                            <a href="" class="btn btn-sm btn-dark">Performance</a>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td>No Students Found in this  {{class}} class</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                    </section>
                    <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                        <div class="text-center mb-2">
                            <small>Classes Taught</small>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered text-dark">
                                <thead>
                                    <tr class="text-dark">
                                        <th scope="col">Name</th>
                                        <th class="text-nowrap" scope="col">Students Capacity</th>
                                        <th class="text-nowrap" scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in class.Students.all %}
                                    <tr>
                                        <td class="text-nowrap text-dark">{{student.first_name}}</td>
                                        <td class="text-nowrap text-dark">{{student.last_name}}</td>
                                        <td class="text-nowrap">{{student.active_enrollment.Date}}</td>
                                        <td class="text-nowrap"> UGX</td>
                                        <td class="text-nowrap">
                                            <a href="" class="btn btn-sm btn-primary">Profile</a>
                                            <a href="" class="btn btn-sm btn-dark">Performance</a>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td>No Students Found in this  {{class}} class</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                    </section>

                    <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                        <div class="text-center mb-2">
                            <small>Students Taught</small>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered text-dark">
                                <thead>
                                    <tr class="text-dark">
                                        <th scope="col">Names</th>
                                        <th class="text-nowrap" scope="col">Class</th>
                                        <th class="text-nowrap" scope="col">Subjects</th>
                                        <th class="text-nowrap" scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in class.Students.all %}
                                    <tr>
                                        <td class="text-nowrap text-dark">{{student.first_name}}</td>
                                        <td class="text-nowrap text-dark">{{student.last_name}}</td>
                                        <td class="text-nowrap">{{student.active_enrollment.Date}}</td>
                                        <td class="text-nowrap"> UGX</td>
                                        <td class="text-nowrap">
                                            <a href="" class="btn btn-sm btn-primary">Profile</a>
                                            <a href="" class="btn btn-sm btn-dark">Performance</a>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td>No Students Found in this  {{class}} class</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                    </section>

                    <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                        <div class="text-center mb-2">
                            <small>Progress</small>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered text-dark">
                                <thead>
                                    <tr class="text-dark">
                                        <th scope="col">Subject</th>
                                        <th class="text-nowrap" scope="col">Class</th>
                                        <th class="text-nowrap" scope="col">Average Score</th>
                                        <th class="text-nowrap" scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in class.Students.all %}
                                    <tr>
                                        <td class="text-nowrap text-dark">{{student.first_name}}</td>
                                        <td class="text-nowrap text-dark">{{student.last_name}}</td>
                                        <td class="text-nowrap">{{student.active_enrollment.Date}}</td>
                                        <td class="text-nowrap"> UGX</td>
                                        <td class="text-nowrap">
                                            <a href="" class="btn btn-sm btn-primary">Profile</a>
                                            <a href="" class="btn btn-sm btn-dark">Performance</a>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td>No Students Found in this  {{class}} class</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                    </section>

                    <section class="py-5 border-bottom wow fadeInUp" data-wow-delay="0.1s">
                        <div class="text-center mb-2">
                            <small>Teaching History</small>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered text-dark">
                                <thead>
                                    <tr class="text-dark">
                                        <th scope="col">School</th>
                                        <th class="text-nowrap" scope="col">Classes</th>
                                        <th class="text-nowrap" scope="col">Subjects</th>
                                        <th class="text-nowrap" scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for student in class.Students.all %}
                                    <tr>
                                        <td class="text-nowrap text-dark">{{student.first_name}}</td>
                                        <td class="text-nowrap text-dark">{{student.last_name}}</td>
                                        <td class="text-nowrap">{{student.active_enrollment.Date}}</td>
                                        <td class="text-nowrap"> UGX</td>
                                        <td class="text-nowrap">
                                            <a href="" class="btn btn-sm btn-primary">Profile</a>
                                            <a href="" class="btn btn-sm btn-dark">Performance</a>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td>No Students Found in this  {{class}} class</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                    </section>

               

                <!-- Contact Start -->
                <section class="py-5 wow fadeInUp" data-wow-delay="0.1s" id="contact">
                    <h1 class="">Send Message</h1>
                    <form method="post" action="{% url 'email-user' teacher.user.id %}">
                        {% csrf_token%}
                        <div class="row g-3">
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                                    <label for="subject">Subject</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" name="message" placeholder="Leave a message here" id="message" style="height: 200px"></textarea>
                                    <label for="message">Message</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-dark w-100 py-3" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form>
                </section>
                <!-- Contact End -->
            </div>
        </div>
    </div>
{% endblock %}