{% extends request.session.base %}
{% load fees_tags %}

{% block content %}
<div class="container text-dark">
    <div class="text-center">
        <small class="lead">{{due}} Payments</small>
    </div>
    <hr>
    <div class="d-flex justify-content-between mb-3">
        <a href="" class="btn btn-sm btn-dark">Get Document</a> 
        <a href="{% url 'add-book' %}" class="btn btn-sm btn-primary">View Unpaid</a>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr class="text-dark">
                    <th scope="col">Sudent</th>
                    <th scope="col">Date</th>
                    <th scope="col">Amount Paid</th>
                    <th scope="col">Balance</th>
                    <th scope="col">Paid By</th>
                    <th class="text-nowrap" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for payment in due.Payments.all|dictsortreversed:'Date' %}
                <tr>
                    <td class="text-nowrap text-dark">{{payment.Student}}</td>
                    <td class="text-nowrap text-dark">{{payment.Date}}</td>
                    <td class="text-nowrap text-dark"><small>{{payment.Amount}} UGX</small> / <small>{{due.Amount_Required}} UGX</small></td>
                    <td class="text-nowrap text-dark"><small>{{payment.Student|due_balance:due}} UGX</small></td>
                    <td class="text-nowrap text-dark">{{payment.parent}}</td>
                    <td class="text-nowrap">
                        <a href="" class="btn btn-sm btn-dark">Payment Info</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td>No payments for {{due}}.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}