{% extends request.session.base %}

{% block content %}
<div class="container text-dark">
    <div class="text-center">
        <small class="lead">{{user.schooladministrator.current_school}} Today's Lessons</small>
    </div>
    <hr>
    <div class="d-flex justify-content-between mb-3">
        <a href="{% url 'new-lesson' %}" class="btn btn-sm btn-danger">Clear TimeTable</a>
        <a href="{% url 'new-lesson' %}" class="btn btn-sm btn-dark">Add New</a>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered text-dark">
            <thead>
                <tr class="text-dark">
                    <th scope="col" class="text-nowrap " scope="col">Day</th>
                    <th scope="">Subject</th>
                    <th class="text-nowrap" scope="col">Teacher</th>
                    <th class="text-nowrap" scope="col">Class</th>
                    <th class="text-nowrap" scope="col">From</th>
                    <th class="text-nowrap" scope="col">To</th>

                </tr>
            </thead>
            <tbody>
                {% for lesson in user.schooladministrator.current_school.Lessons.all %}
                <tr>
                    <th class="text-nowrap" scope="col">{{lesson.Day}}</th>
                    <td class="text-nowrap text-dark">{{lesson.Subject}}</td>
                    <td class="text-nowrap text-dark">{{lesson.Teacher}}</td>
                    <td class="text-nowrap text-dark">{{lesson.Class}}</td>
                    <td class="text-nowrap">{{lesson.From}}</td>
                    <td class="text-nowrap">{{lesson.To}}</td>
                    <td class="text-nowrap">
                        <a href="" class="btn btn-sm btn-dark">Delete</a>
                        <a href="" class="btn btn-sm btn-primary">Attendance</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td>No lessons have been added.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}