{% extends 'base.html' %}
{% load static %}
{% load fees_tags %}
{% load children_tags %}

{% block nav %}
<a href="{% url 'parent_dashboard' %}" class="nav-item nav-link">Dashboard</a>
<div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Menu</a>
    <div class="dropdown-menu rounded-0 rounded-bottom border-0 shadow-sm m-0">
        <a href="{% url 'kids' %}" class="dropdown-item">My Children</a>
        <a href="{% url 'kids' %}" class="dropdown-item">Teachers</a>
        <a href="{% url 'parent-requirements' %}" class="dropdown-item">Requirements</a>
        <a href="{% url 'schools-listing' %}" class="dropdown-item">Schools</a>
        <a href="{% url 'parent-applications' %}" class="dropdown-item">Applications</a>
        <a href="{% url 'circulars' %}" class="dropdown-item">Events</a>
        <a href="{% url 'child-reports' %}" class="dropdown-item">Reports</a>
        <a href="{% url 'browse-pastpapers' %}" class="dropdown-item">Past Papers</a>

    </div>
</div>
<div class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle text-nowrap" data-bs-toggle="dropdown">Account</a>
    <div class="dropdown-menu bg-transparent border-0">
        <a href="{% url 'change-password' %}" class="dropdown-item ">Change Password</a>
        <a href="{% url 'change-contact' %}" class="dropdown-item ">Add Contact</a>
        <a href="{% url 'logout' %}" class="dropdown-item">Logout</a>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="mt-3 text-center"> 
    <small class="lead text-dark"><u>Parents Dashboard</u></small>
</div>
<!-- Sale & Revenue Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-dark text-white rounded d-flex align-items-center justify-content-between p-4">
                <i class="bi bi-people-fill fa-3x"></i>
                <div class="ms-3">
                    <p class="mb-2 text-nowrap">Children</p>
                    <h6 class="mb-0 text-white">{{user.parent.relationships.count}}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-dark text-white rounded d-flex align-items-center justify-content-between p-4">
                <i class="bi bi-clipboard-data fa-3x"></i>
                <div class="ms-3">
                    <p class="mb-2 text-nowrap">Reports</p>
                    <h6 class="mb-0 text-white">{% with reports=user.parent|parent_reports %}{{reports.count}}{% endwith %}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-dark text-white rounded d-flex align-items-center justify-content-between p-4">
                <i class="bi bi-calendar-day fa-3x"></i>
                <div class="ms-3">
                    <p class="mb-2 text-nowrap">Events</p>
                    <h6 class="mb-0 text-white">{% with events=user.parent|parent_events %}{{events.count}}{% endwith %}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-dark text-white rounded d-flex align-items-center justify-content-between p-4">
                <i class="bi bi-cash-stack fa-3x"></i>
                <div class="ms-3">
                    <p class="mb-2 text-nowrap">Total Fees Balance</p>
                    <h6 class="mb-0 text-white">{{user.parent|total_fees_balance}} UGX</h6>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Children</h6>
            <a href="">Show All</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start text-dark align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">Child</th>
                        <th scope="col">Relationship</th>
                        <th class="text-nowrap" scope="col">School</th>
                        <th class="text-nowrap" scope="col">Class</th>
                        <th class="text-nowrap" scope="col">Fees Balance</th>
                        <th class="text-nowrap" scope="col">End of Term</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for relationship in user.parent.relationships.all %}
                    <tr>
                        <td class="text-nowrap">{{relationship.Child}}</td>
                        <td class="text-nowrap">{{relationship.Relationship}}</td>
                        <td class="text-nowrap">{{relationship.Child.school}}</td>
                        <td class="text-nowrap">{{relationship.Child.Class}}</td>
                        <td class="text-nowrap">{{relationship.Child|fees_balance}} UGX</td>
                        <td class="text-nowrap">{{relationship.Child.school.current_term.To}}</td>
                        <td class="text-nowrap">
                            <a href="{% url 'student-reports' relationship.Child.id %}" class="btn btn-sm btn-dark">Reports</a>
                            <a href="{% url 'child-info' relationship.Child.id %}" class="btn btn-sm btn-primary">More Info</a>
                            <a href="{% url 'pay-child-fees' relationship.Child.id %}" class="btn btn-sm btn-dark">Pay Fees</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr><td class="text-nowrap">No students linked to this account</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Recent Sales End -->


<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeInUp">
                <div class="h-100 bg-dark rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <small class="mb-0 text-white lead">Upcoming Examinations</small>
                        <a href="">Show All</a>
                    </div>
                    {% for exam in user.schooladministrator.current_school.Examinations.all %}
                    <div class="d-flex align-items-center border-bottom py-2">
                        <div class="w-100 ms-3">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <span class="text-white">{{exam}}</span>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <small style="font-size: medium;" class="lead text-white">No upcoming examinations</small>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp">
                <div class="h-100 bg-dark rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <small class="mb-0 text-white lead">Upcoming Events</small>
                        <a href="">Show All</a>
                    </div>
                    {% for event in user.schooladministrator.current_school.Events.all %}
                    <div class="d-flex align-items-center border-bottom py-2">
                        <div class="w-100 ms-3">
                            <div class="d-flex w-100 align-items-center justify-content-between">
                                <span class="text-white">{{event}}</span>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <small style="font-size: medium;" class="lead text-white">No upcoming events</small>
                    {% endfor %}
                </div>
            </div>              
        </div>
    </div>
</div> 
{% endblock %}