{% extends request.session.base %}
{% load children_tags %}

{% block content %}
<div class="container text-dark">
    <div class="text-center">
        <small class="lead">{{user.schooladministrator.current_school}} Parents</small>
    </div>
    <hr>
    <div class="d-flex justify-content-between mb-3">
        <small class="lead text-dark"></small>
        <a href="{% url 'recruit-teacher' %}" class="btn btn-sm btn-dark">Link</a>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr class="text-dark">
                    <th scope="col">Names</th>
                    <th class="text-nowrap" scope="col">Children</th>
                    <th class="text-nowrap" scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for parent in parents %}
                <tr>
                    <td class="text-nowrap text-dark">{{parent}}</td>
                    <td class="text-nowrap text-dark">{% for relationship in parent|relationships:user.schooladministrator.current_school %}<small>{{relationship.Child}} ({{relationship.Relationship}})</small><br>{% endfor %}</td>
                    <td class="text-nowrap">
                        <a href="{% url 'parent-profile' parent.id %}" class="btn btn-sm btn-dark">Bio</a>
                        <a href="{% url 'email-user' parent.user.id %}" class="btn btn-sm btn-primary">Send Email</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td>No parents have been linked yet.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}