{% extends request.session.base %}
{% load static %}
{% load fees_tags %}
{% load children_tags %}


{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Children</h6>
            <a href="">Show All</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start text-dark align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">Child</th>
                        <th scope="col">Relationship</th>
                        <th class="text-nowrap" scope="col">School</th>
                        <th class="text-nowrap" scope="col">Class</th>
                        <th class="text-nowrap" scope="col">Fees Balance</th>
                        <th class="text-nowrap" scope="col">End of Term</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for relationship in user.parent.relationships.all %}
                    <tr>
                        <td class="text-nowrap">{{relationship.Child}}</td>
                        <td class="text-nowrap">{{relationship.Relationship}}</td>
                        <td class="text-nowrap">{{relationship.Child.school}}</td>
                        <td class="text-nowrap">{{relationship.Child.Class}}</td>
                        <td class="text-nowrap">{{relationship.Child|fees_balance}} UGX</td>
                        <td class="text-nowrap">{{relationship.Child.school.current_term.To}}</td>
                        <td class="text-nowrap">
                            <a href="{% url 'student-reports' relationship.Child.id %}" class="btn btn-sm btn-dark">Reports</a>
                            <a href="{% url 'child-info' relationship.Child.id %}" class="btn btn-sm btn-dark">More Info</a>
                            <a href="{% url 'pay-child-fees' relationship.Child.id %}" class="btn btn-sm btn-primary">Pay Fees</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr><td class="text-nowrap">No students linked to this account</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}