{% extends request.session.base %}

{% block content %}
<div class="container text-dark">
    <div class="text-center">
        <small class="lead">{{user.schooladministrator.current_school}} Division Structure</small>
    </div>
    <hr>
    <div class="d-flex justify-content-between mb-3">
        <span></span>
        <a href="{% url 'add-division' %}" class="btn btn-sm btn-dark">Add New</a>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr class="text-dark">
                    <th scope="col">From</th>
                    <th class="text-nowrap" scope="col">To</th>
                    <th class="text-nowrap" scope="col">Division</th>
                    <th class="text-nowrap" scope="col">Classes</th>
                </tr>
            </thead>
            <tbody>
                {% for division in user.schooladministrator.current_school.Divisions.all|dictsort:"From" %}
                <tr class="text-dark">
                    <td class="text-nowrap text-dark">{{division.From}}</td>
                    <td class="text-nowrap text-dark">{{division.To}}</td>
                    <td class="text-nowrap">{{division.Name}}</td>
                    <td class="text-nowrap text-dark">{% for class in division.Classes.all %}<small>{{class}}</small><br>{% endfor %}</td>
                    <td class="text-nowrap">
                        <a href="" class="btn btn-sm btn-dark">Delete</a>
                        <a href="{% url 'division-stats' division.id %}" class="btn btn-sm btn-primary">Statistics</a>
                        <a href="" class="btn btn-sm btn-dark">Edit</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td>No divisions have been added</td>
                </tr>
                {% endfor %}
            </tbody>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}